@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Satisfy');

body {
    padding-top: 30px;
    font-family: Roboto;
    background-color: antiquewhite;
}

body > header,
body > section,
body > footer {
    width: 1000px;
    margin: 0 auto;
}

body > section#demo {
    width: 100%;
}

body > header {
    height: 100px;
}

body > header > img,
body > header > h1 {
    float: left;
}

body > header > h1 {
    margin: 0;
    font-size: 32px;
    margin-left: 10px;
}

body > header > nav {
    float: right;
}

body > section {
    margin-top: 100px;
    margin-bottom: 200px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.computer {
    width: 70%;
    margin: 0 auto;
    min-height: 200px;
    background: #222;
    border-radius: 25px;
    border: 15px solid #aaa;
    padding: 20px 30px;
    color: #88ff88;
    font-size: 20px;
}

.browser,
.editor {
    width: 50%;
    margin: 0 auto;
    min-height: 200px;
    background: #222;
    border-radius: 25px;
    border-top: 40px solid #aaa;
    padding: 20px 50px;
    color: #ccc;
    font-size: 20px;
}

.browser {
    background: #ccc;
    color: #555;
    border-bottom: 4px solid #aaa;
    border-left: 2px solid #aaa;
    border-right: 4px solid #aaa;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
}

.browser input {
    border: 2px solid #aaa;
    line-height: 30px;
    min-width: 60%;
    margin-left: 2%;
    font-size: 16px;
    padding: 0px 10px;
}

.browser button {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #555;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #aaa;
}

.browser button:focus {
    outline: none;
}

.browser button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.editor .js-keyword {
    color: #c59a50;
}

.editor .js-require {
    color: #7a5a40;
}

.editor .js-string {
    color: #80805a;
}

.editor .js-comment {
    color: #666;
}

.editor .js-identifier {
    font-weight: bold;
}

.editor .js-symbol {
    color: #b6b;
}

.editor .title {
    margin-top: -50px;
    position: absolute;
    font-size: 16px;
    color: #555;
}

.editor .title:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ccb5b5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: -30px;
}

body > footer {
    float: left;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid darkgray;
    padding-top: 50px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover,
a.highlighted-link:hover {
    text-decoration: underline;
    color: #888;
}

a.highlighted-link {
    text-decoration: underline;
    color: #4b4ca2;
}

#post-it {
    margin-top: 70px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -50px;
}

.note {
    color: #333;
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Satisfy;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
    display: block;
    margin: 40px 0 0 0;
    text-align: right;
}

.yellow {
    background: #eae672;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 1;
}

.pin:after {
    background-color: #A31;
    background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
                inset 3px 3px 3px hsla(0,0%,100%,.2),
                inset -3px -3px 3px hsla(0,0%,0%,.2),
                23px 20px 3px hsla(0,0%,0%,.15);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin:before {
    background-color: hsla(0,0%,0%,0.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';

    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;

    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -o-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);

    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  float: left;
  margin-top: 20px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading,
#result {
    display: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.full-width {
    float: left;
    width: 100%;
}

th {
    font-weight: bold;
    border-bottom: 3px solid #888;
    text-align: left;
}
