<p>
    Resumen:
</p>

<ul>
    <li>
        Cookies usadas: <strong>Propias y de Terceros</strong>
    </li>
    <li>
        ¿Se usan para obtener estadísticas? <strong>Sí</strong>
    </li>
    <li>
        ¿Se usan para publicidad? <strong>No</strong>
    </li>
    <li>
        Servicios de terceros que instalan cookies a través de esta web: <strong>Google Analytics y Twitter</strong>
    </li>
</ul>
 
<h2>Cómo configurar y deshabilitar las cookies</h2>

<p>
    Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo desde tu navegador web.
    Si no permites la instalación de cookies en tu dispositivo, puede que la experiencia de navegación
    empeore. A continuación puedes encontrar cómo configurar las cookies en cada navegador:
</p>

<ul>
    <li><a href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq" target="_blank">Edge</a>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a>
    <li><a href="https://support.google.com/chrome/answer/2392971?hl=es" target="_blank">Google Android</a>
    <li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies" target="_blank">Internet Explorer 7 y 8</a>
    <li><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">Internet Explorer 9</a>
    <li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-10" target="_blank">Internet Explorer 10</a>
    <li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank">Internet Explorer 11</a>
    <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">Mozilla Firefox</a>
    <li><a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html" target="_blank">Opera</a>
    <li><a href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES" target="_blank">Safari</a>
    <li><a href="https://support.apple.com/es-es/HT201265" target="_blank">Safari Mobile</a>
</ul>

<h3>1.- Tipos y usos</h3>

<p>
    El servicio usa cookies propias y de terceros para mejorar la navegación, proporcionar el servicio
    y obtener estadísticas sobre el uso de la página web.
</p>

<h3>2.- ¿Qué es una cookie y para qué sirve?</h3>

<p>
    Una cookie es un fichero de texto que se envía al navegador web de tu ordenador, móvil o tablet y
    que sirve para almacenar y recuperar información sobre la navegación realizada. Por ejemplo,
    recordar tu nombre de usuario y contraseña o las preferencias de tu perfil.
</p>
    
<h3>3.- ¿Qué tipos de cookies hay?</h3>

<p>
    Según quién las gestiona:
</p>

<ul>
    <li><u>Cookies propias</u>; se envían a tu navegador desde nuestros equipos o dominios web.</li>
    <li><u>Cookies de terceros</u>; se envían a tu navegador desde un equipo o dominio web que no gestionamos nosotros directamente, sino una tercera entidad como por ejemplo Google.</li>
</ul>

<p>
    En función del tiempo que están activas, hay:
</p>

<ul>
    <li><u>Cookies de sesión</u>; permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, de modo que ninguna queda en tu dispositivo.</li>
    <li><u>Cookies persistentes</u>; permanecen en tu dispositivo y nuestra web las lee cada vez que realizas una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.</li>
</ul>

<p>
    Finalmente, y según su finalidad, tenemos:
</p>

<ul>
    <li><u>Cookies técnicas</u>; mejoran la navegación y el buen funcionamiento de la web.</li>
    <li><u>Cookies de personalización</u>; permiten acceder al servicio con unas características predefinidas en función de una serie de criterios.</li>
    <li><u>Cookies de análisis</u>; permiten medir y analizar estadísticamente el uso que se hace del servicio prestado.</li>
</ul>

<h2>Cookies usadas por <strong>twitter</strong>:</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Origen</th>
            <th>Finalidad</th>
            <th>Tipo</th>
            <th>Caducidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>_ga:"GA1.2.820188467.1515587197"</td>
            <td>.twitter.com</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>2 años</td>
        </tr>
        <tr>
            <td>_gat:"1"</td>
            <td>.twitter.com</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>1 minuto</td>
        </tr>
        <tr>
            <td>_gid:"GA1.2.166083356.1520442969"</td>
            <td>.twitter.com</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>1 día</td>
        </tr>
        <tr>
            <td>_twitter_sess:"BAh7CiIKZmx..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>sesión</td>
        </tr>
        <tr>
            <td>ads_prefs:""HBISAAA=""</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>9 años y 11 meses</td>
        </tr>
        <tr>
            <td>auth_token:"b660777136b200..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>Sesión</td>
        </tr>
        <tr>
            <td>ct0:"4f8b3b33d75f0703ec075..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>6 horas</td>
        </tr>
        <tr>
            <td>dnt:"1"</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>10 años</td>
        </tr>
        <tr>
            <td>eu_cn:"1"</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>10 meses</td>
        </tr>
        <tr>
            <td>external_referer:"padhuUp3..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>1 hora y 20 minutos</td>
        </tr>
        <tr>
            <td>guest_id:"v1%3A1518551384328..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>1 año y 11 meses</td>
        </tr>
        <tr>
            <td>kdt:"gbIKb0bihMrd59a6EqeVEQZ..."</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>1 año y 6 meses</td>
        </tr>
        <tr>
            <td>personalization_id:""v1_9V/j...""</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>1 año y 11 meses</td>
        </tr>
        <tr>
            <td>remember_checked_on:"0"</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>10 años</td>
        </tr>
        <tr>
            <td>tfw_exp:"0"</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>14 días</td>
        </tr>
        <tr>
            <td>twid:""u=119345185""</td>
            <td>.twitter.com</td>
            <td>Técnica</td>
            <td>Tercero</td>
            <td>sesión</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="https://support.twitter.com/articles/20170521" target="_blank">Twitter</a>:
    Sus cookies (eu_cn o ua, entre otras), permiten compartir contenido en la red social mientras
    estás conectado a tu cuenta, así como obtener estadísticas.
</p>

<h2>Lista de cookies de tercero usadas por <strong>Google Analytics</strong>:</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Origen</th>
            <th>Finalidad</th>
            <th>Tipo</th>
            <th>Caducidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>_ga:"GA1.3.2125293380.1520455048"</td>
            <td>.nolegaltech.github.io</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>2 años</td>
        </tr>
        <tr>
            <td>_gat_gtag_UA_115326702_1:"1"</td>
            <td>.nolegaltech.github.io</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>1 minuto</td>
        </tr>
        <tr>
            <td>_gid:"GA1.3.1145997454.1520455048"</td>
            <td>.nolegaltech.github.io</td>
            <td>Analítica</td>
            <td>Tercero</td>
            <td>1 día</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Google Analytics</a>:
    Sus cookies (_ga, _gat o _gid) permiten contabilizar las veces que un usuario visita una web, cómo,
    cuándo y desde dónde lo hace.
</p>

<p>
    En cualquier caso, puedes inhabilitar las cookies de Google Analytics desde
    <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">aquí</a>.
</p>

<p>
    <a href="http://www.google.com/policies/privacy/" target="_blank">Google</a>:
    Sus cookies (NID o CONSENT) permiten personalizar cómo se ven anuncios fuera de Google o almacenar
    información como el idioma preferido a la hora de mostrar resultados de búsqueda.
</p>

<p>
    Si quieres saber sobre los tipos de cookies que usa Google en
    sus múltiples servicios puedes encontrar aquí
    <a href="https://www.google.com/policies/technologies/types/" target="_blank">más información</a>.
</p>
